/* styles.css */
:root {
    --main-color: #16423C;
    --secondary-color: #F5EFE7;
    --background-color: #D9D9D9;
}

body {
    padding-bottom: 80px;
    background-color: #f8f9fa;
}

.hyperlink {
    color: #16423C; 
    font-weight: 600;
}

.book-icon {
    width: 30px;
    height: auto;
}

.table {
    border-radius: 6px;
    overflow: hidden;
}

footer {
    position: fixed;
    background-color: var(--main-color);
    bottom: 0;
    width: 100%;
}

form input {
    height: 50px; 
    margin: 0 auto; 
    display: block; 
}

form button {
    height: 50px; 
    margin: 0 auto; 
    display: block;
}

.btn-grey {
    background-color: #D9D9D9; 
    color: gray ;
}

.btn-green {
    color: white !important;
    background-color: #16423C !important;
}

button {
    font-weight: 600 !important;
}

.btn-group .btn {
    width: 50%;
}

.selected-btn {
    color: var(--main-color);
    background-color: var(--secondary-color); 
    border-color: var(--main-color);
}

.balance-box, .profile-box, .cart-section, .history-section {
    background: white;
    padding: 15px;
    border-radius: 0px;
}

.card-body {
    background-color: #F7F3ED;

}

.pixel-art {
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

.not-found {
    background-color: #ff6961;
    color: white;
}

.bad-error {
    background-color: #0074D9;
    color: #1a1a1a;
}

.custom-border {
    border-bottom: 2px solid #804900 !important;
}


.page-item .page-link {
    border: none;
    color: black;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 50%;
}

.bg-custom-gray {
    background: #f2f2f2 !important;
}


